:root {
    --theme-surface-color: #121212;
    --theme-top-nav-color: #282828;
    --theme-topic-nav-color: #322c35;
    --theme-subjects-color: #1d1f20;
    --theme-card-color: #313131d8;
    --theme-footer-color: #282828;
    --theme-fore-ground-color: #f5f5f5;
}

body {
    margin: 0;
    background-color: whitesmoke;
}
.top_nav {
    display: flex;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;    
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    margin: auto;
    background-color: #ebebeb;
}
.top_nav a {
    box-sizing: border-box;
    justify-content: space-evenly;
    text-decoration: none;
    font-size: 17px;
    color: rgb(127, 127, 127);
    text-align: center;
    margin: 0px 15px;
}
.top_nav a:hover {
    color:rgb(0, 0, 0);
}
.top_nav a.active {
    color: black;
}
.home {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.projects {
    padding: 20px;
    /* border-top: 25px solid rgb(0, 185, 176); */
}

/* 

///////////////////////////////////////////////

*/

.projects_top_nav {
    width: 100%;
    background-color: rgb(200, 200, 200);
    overflow: hidden;
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
}
.projects_top_nav h4 {
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
}
.projects_top_nav a:hover {
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}

.cards {
    display: inline-grid;
    column-gap: 10px;
    row-gap: 2px;
    grid-template-areas: 'image image' 'info info' 'platforms platforms' 'demo-link source-link';
    margin: 10px;
    width: 200px;
    height: 225px;
    background-color: palegreen;
    border-radius: 20px;
    padding: 10px;
    box-shadow:  0.3em 0.3em 1em rgba(0,0,0,0.3);
    align-content: space-around;
    justify-content: space-evenly;
    align-items: end;
    justify-items: stretch;
}
.platforms {
    grid-area: platforms;
    height: fit-content;
    padding: 4px;
}
.platforms span {
    font-size: 20px;
    margin-left: 4px;
}
.cards img {
    grid-area: image;
    width: 100%;
    height: 110px;
    border-radius: 20px;
}
.cards:hover {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
        0 0  0 2px rgb(255,255,255);
}
.cards a {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background-color: gray;
    text-align: center;
    text-decoration: none;
    color: white;
}
.cards a:hover {
    box-shadow: 0 0  0 2px rgb(255,255,255);
}
.scrollable {
    background-color: rgb(240, 240, 240);
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    height: fit-content;
    padding: 5px;
    padding-bottom: 10px;
    scroll-behavior: smooth;
}
.slide {
    position: absolute;
    margin-top: -160px;
    text-align: center;
    font-size: 40px;
    opacity: 0.4;
    cursor: pointer;
    user-select: none;
    color: rgb(255, 255, 255);
}
.slide::before {
    border-radius: 50%;
    background-color: #888;
}
.slide:hover {
    opacity: 1;
}

.projects_child {
    border-radius: 15px;
    border: solid rgb(200, 200, 200) 4px;
    overflow: hidden;
}


footer {
    display: flex;
    padding: 10px;
    background-color: #d1d1d1;
    color: inherit;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    user-select: none;
}
footer p {
    flex-grow: 8;
}
footer a {
    text-decoration: none;
    color: inherit;
    margin: 0 8px;
    flex-grow: 2;
}
.icon {
    text-decoration: none;
    padding: 8px;
    border: 1px solid white;
    border-radius: 500px;
    margin-left: 4px;
    margin-right: 4px;
    color: inherit;
}
.icon:hover {
    color: rgb(124, 16, 146);
}

/* width */
.scrollable::-webkit-scrollbar {
    width: 10px;
    height: 40px;
}

/* Track */
.scrollable::-webkit-scrollbar-track {
    background: #f1f1f1a1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 -3em 3em rgba(131, 131, 131, 0.411);
}

/* Handle */
.scrollable::-webkit-scrollbar-thumb {
    background: #888;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Handle on hover */
.scrollable::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-width: 600px) {
    .scrollable::-webkit-scrollbar {
        display: none;
    }
}

/* 
///////////////
*/

#_games {
    background-color: #8ddae9;
}
#_experiment {
    background-color: #c989ff;
}
#_python {
    background-image: linear-gradient(rgb(0, 255, 136), rgb(98, 255, 66));
}



::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.filter input:hover ~ .checkmark {
    background-color: rgba(148, 148, 148, 0.315);
}
input[type="checkbox"] {
    display: none;
}
.checkmark {
    padding: 4px;
    border-radius: 5px;
}
.filter input:checked ~ .checkmark {
    background-color: rgba(68, 68, 68, 0.315);
}
.filter {
    float: right;
    margin: 14px 10px 14px 5px;
    text-align: center;
    cursor: pointer;
}
.filter span {
    font-size: 18px;
}


@media only screen and (max-width: 850px) {
    footer > a{
        display: none;
    }
    footer {
        flex-direction: column;
        padding: 0;
    }
}
